<footer>
    <div class="footer-info">
        <div class="colum1-footer">
            <img src="assets/images/logo_lebsolar_transparente_blanco.png" alt="Logo LebSolar Ingenieria">
            <div class="social-networks">
                <a href="https://www.facebook.com/lebsolar/" target="_blank"><img src="assets/images/Logo_Facebook_Blanco.png" alt="Logo Facebook"></a>
                <a href="https://www.instagram.com/lebsolaringenieria" target="_blank"><img src="assets/images/Logo_Instagram_Blanco.png" alt="Logo Instagra,"></a>
                <a href="https://www.linkedin.com/in/lebsolar-ingenieria-0417b93b1/" target="_blank"><img src="assets/images/Logo_Linkedin_Blanco.png" alt="Logo LinkedIn"></a>
                <a href="https://api.whatsapp.com/send/?phone=573000000000" target="_blank"><img src="assets/images/Logo_WhatsApp_Blanco.png" alt="Logo WhatsApp"></a>
            </div>
        </div>
        <div class="colum2-footer">
            <div class="column">
                <h1 id="services">SERVICIOS</h1>
                <div class="row-footer"><a routerLink="/proyectos">PROYECTOS</a></div>
                <div class="row-footer"><a routerLink="/cursos">CURSOS</a></div>
                <div class="row-footer"><a routerLink="/">TIENDA</a></div>
            </div>
        </div>
        <div class="colum3-footer">
            <div class="column">
                <h1 id="contact-information">CONTACTO</h1>
                <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Correo_Blanco.png"
                        alt="Logo Correo"><span>correo@correo.com.co</span></div>
                <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Telefono_Blanco.png"
                        alt="Logo WhatsApp"><span>300 000 0000</span></div>
                <div class="row-footer"><img class="img-contact" src="assets/images/Logo_Ubicacion_Blanco.png"
                        alt="Logo WhatsApp"><span>Valle del Cauca</span></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p id="copyright">© {{ currentYear }} Todos los Derechos Reservados | LebSolar Ingeniería</p>
    </div>
</footer>