.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background: var(--fondo-principal);
    border-bottom: 2.5px solid var(--texto);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 60px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    color: var(--texto);
    justify-content: center;
    margin: auto 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:visited {
    color: inherit;
}

.menu li {
    cursor: pointer;
    position: relative;
    font-size: clamp(15px, 2.6vw, 17.5px);
}

.menu li:hover {
    text-decoration: underline;
    color: var(--titulo-claro);
}

.dropdown {
    position: relative;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--texto);
}


@media (max-width: 900px) {
    .hamburger {
        display: block;
        color: var(--texto);
    }

    .menu {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--fondo-principal);
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .menu.open {
        display: flex;
        border-top: 1px solid var(--texto);
    }

    .menu li:nth-child(5) {
        padding-bottom: 10px;
    }

    .menu li:nth-child(1) {
        padding-top: 10px;
    }
}