:root {
  /* ===== PALETA DE COLORES ===== */

  --verde-claro: #8BC34A;

  --naranja: #FFB300;
  --amarillo: #FFD54F;



  --blanco: #FFFFFF;

  /* ===== Colores auxiliares ===== */

  --texto-principal: var(--azul-oscuro);
  --texto-secundario: #5F6B7A;

  --fondo-principal: var(--blanco);
  --fondo-secundario: var(--gris-claro);

  --borde: #E5E7EB;
}






