<section class="main-section">
  <h1>PROYECTOS</h1>
  <div class="grid">
    <article class="card" *ngFor="let proyecto of proyectos">
      <div class="card-content" *ngIf="proyecto.titulo || proyecto.ubicacion">
        <h3 class="titulo" *ngIf="proyecto.titulo">
          {{ proyecto.titulo }}
        </h3>
        <img [src]="proyecto.imagen" [alt]="proyecto.alt">
        <h4 class="ubicacion" *ngIf="proyecto.ubicacion">
          {{ proyecto.ubicacion }}
        </h4>
      </div>
    </article>
  </div>
</section>