:root {
    --titulo: #0E4BA8;
    --titulo-claro: #1E88E5;
    --texto: #0D1B2A;
    --fondo-principal: #F4F6F8;
}

* {
    font-family: 'Lato', 'Arial';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4F6F8;
}

section {
    width: 80%;
    display: block;
    margin: 5% auto;
}

h1 {
    color: var(--titulo);
    font-size: clamp(26px, 3vw, 34px);
    text-align: center;
    font-weight: bold;
}

h2 {
    color: var(--titulo-claro);
    font-size: clamp(20px, 2.2vw, 26px);
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: clamp(16px, 1.8vw, 20px);
    font-weight: bold;
    text-align: center;
}

p {
    font-size: clamp(15px, 1.2vw, 18px);
    line-height: 1.6 !important;
    text-align: justify;
}

.main-section {
    margin-top: 10px;
}

@media (max-width: 900px) {
    section {
        width: 90%;
    }
}