:root {
    --titulo: #0E4BA8;
    --titulo-claro: #1E88E5;
    --texto: #0D1B2A;
    --fondo-principal: #F4F6F8;
    --subrayado: #43A047;
    --amarillo-sol: #FFB300;
    --naranja-sol: #FF9800;
    --blanco: #FFFFFF;
}

* {
    font-family: 'Lato', 'Arial';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4F6F8;
}

section {
    width: 80%;
    display: block;
    margin:3% auto 0% auto;
}

h1 {
    color: var(--titulo);
    font-size: clamp(26px, 3vw, 34px);
    text-align: center;
    font-weight: bold;
}

h2 {
    color: var(--titulo);
    font-size: clamp(26px, 3vw, 34px);
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
}

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    margin: 12px auto 18px;
    border-radius: 10px;
    background: #43A047;
}

h3 {
    font-size: clamp(20px, 1.8vw, 24px);
    font-weight: bold;
    text-align: center;
    color: var(--titulo-claro);
}

p {
    font-size: clamp(15px, 1.2vw, 18px);
    line-height: 1.6 !important;
    text-align: justify;
}

.main-section {
    margin-top: 10px;
}

@media (max-width: 900px) {
    section {
        width: 90%;
    }
}